/* GLOBAL STYLE */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  color: var(--clr-text);
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
#root{
  background-color: var(--clr-bg);
}
.article{
  background: var(--clr-bg);
  width: 100%;
  margin: 10px;
  text-align: center;
  height: fit-content;
  color: var(--clr-text);
}
.article-title{
  position: relative;
}
.article-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.underline {
  position: absolute;
  bottom: -9px;
  height: 2px;
  width: 30%;
  background-color: var(--clr-primary);
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 753px) {

  article {
    width: 100%;
  }
}
.light-mode {
  --clr-bg: #efefef;
  --clr-text: #222;
  --clr-primary: rgb(56, 146, 194);
  --clr-card: #eeeeee;
}

.dark-mode {
  --clr-bg: #111;
  --clr-text: #d4d3d3;
  --clr-primary: #df372b;
  --clr-card: #272724;
}
.btn-theme{
  position: absolute;
  left: -65px;
  width: 100px;
  justify-content: flex-end;
}
.btn-theme:hover{
  animation: leave 1s linear;
  animation-fill-mode: forwards;
}

@keyframes leave {
  from {
    left: -65px;
    justify-content: flex-end;
  }
  to{
    left: -5px;
    justify-content: center;
  }
}